@import "tailwindcss";
@import "tw-animate-css";
@import './styles/reactflow.css';

@custom-variant dark (&:is(.dark *));
/*@plugin './hero.ts';*/
/*@source '../../node_modules/@heroui/theme/dist!**!*.{js,ts,jsx,tsx}';*/

/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --vscode-menu-background: rgba(26, 17, 44, 0.6);
  --vscode-editorWidget-background: rgba(44, 44, 44, 0.61);
  --vscode-editorWidget-border: rgba(59, 184, 230, 0.55);
  backdrop-filter: blur(10px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@layer utilities {
  .center{
    @apply flex items-center justify-center;
  }
  .screen{
    @apply w-[100dvw] h-[100dvh];
  }
  .wrapper{
    @apply w-fit h-fit p-[10px] rounded-md
  }
  .container-full{
    @apply w-full h-full;
  }
  .container-fit{
    @apply w-fit h-fit;
  }
  .between{
    @apply flex items-center justify-between;
  }
  .bg-primary{
    @apply bg-black;
  }
  .bg-secondary{
    @apply bg-zinc-900;
  }
  .gradient{
    @apply bg-gradient-to-r from-cyan-400 via-black via-cyan-600 to-transparent;
  }
  .bg-accent{
    @apply bg-gradient-to-br from-cyan-300 to-cyan-400;
  }
  .bg-active{
    @apply bg-[#d0ff00];
  }
  .border-active{
    @apply border-[#d0ff00];
  }
  .button-accent{
    @apply bg-gradient-to-br from-[#00BBC2] to-[#00BBC2];
  }
  .button-light{
    @apply bg-[#00BBC2];
  }
  .button-neutral{
    @apply bg-neutral-700 hover:bg-cyan-500 text-white hover:text-black;
  }
  .wrapper-grid{
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-items-start items-center gap-4;
  }
  .bd{
    @apply border-1 border-[#00BBC2];
  }
  .bg-cyan{
    @apply bg-cyan-500;
  }
  .text-cyan{
    @apply text-cyan-500;
  }
  .transition-500{
    @apply transition-all duration-500;
  }
  .transition-300{
    @apply transition-all duration-300;
  }
  .button-gradient{
    @apply bg-gradient-to-r from-cyan-500 to-cyan-700;
  }
  .page {
    @apply flex items-center justify-center w-full h-full bg-transparent;
  }
  /*.margin{*/
  /*  @apply backdrop-blur-sm bg-neutral-800/20 !important;*/
  /*}*/
  /*.overflow-guard {*/
  /*  @apply backdrop-blur-sm bg-neutral-800/20 !important;*/
  /*}*/
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#no-scrollbar::-webkit-scrollbar {
  display: none;
}

#spin-animate{
  animation: spin 5s infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

html{
  scroll-behavior: smooth;
}

.logs_wrapper{
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

#workFlow-node{
  width: 600px;
  height: 400px;
  clip-path: path('M30 1H264.831C274.321 1.00002 283.21 5.64257 288.632 13.4307L361.227 117.712C367.022 126.037 376.525 131 386.669 131H570C586.016 131 599 143.984 599 160V370C599 386.016 586.016 399 570 399H209.303C196.504 399 185.219 390.61 181.532 378.354L158.883 303.069C154.941 289.968 142.878 281 129.197 281H30C13.9837 281 1 268.016 1 252V30L1.00977 29.252C1.40654 13.5814 14.2338 1 30 1Z');
}

#workFlow-small-1{
  clip-path: path('M30.1035 1.5H264.5C280.24 1.5 293 14.2599 293 30V98C293 113.74 280.24 126.5 264.5 126.5H70.3301C60.2559 126.5 50.9301 121.181 45.8008 112.511L5.57422 44.5107C-5.66462 25.5123 8.02977 1.5 30.1035 1.5Z') !important;
}

#workFlow-small-2 {
  clip-path: path('M30 1.5H127.35C140.507 1.5 151.954 10.5069 155.05 23.2949L169.572 83.2949C173.913 101.23 160.325 118.5 141.872 118.5H30C14.2599 118.5 1.5 105.74 1.5 90V30C1.5 14.2599 14.2599 1.5 30 1.5Z') !important;
}

#node-svg{
  overflow: hidden;
  clip-path: path('M10 1H87.75C92.5825 1 96.5 4.91751 96.5 9.75C96.5 15.6871 101.313 20.5 107.25 20.5H494.75C500.687 20.5 505.5 15.6871 505.5 9.75C505.5 4.91751 509.418 1 514.25 1H590C594.971 1 599 5.02944 599 10V74.75C599 79.0302 595.53 82.5 591.25 82.5C585.865 82.5 581.5 86.8652 581.5 92.25V302.25C581.5 307.635 585.865 312 591.25 312C595.53 312 599 315.47 599 319.75V390C599 394.971 594.971 399 590 399H513.25C508.97 399 505.5 395.53 505.5 391.25C505.5 385.865 501.135 381.5 495.75 381.5H106.25C100.865 381.5 96.5 385.865 96.5 391.25C96.5 395.53 93.0302 399 88.75 399H10C5.02944 399 1 394.971 1 390V319.25C1 315.246 4.24594 312 8.25 312C13.3586 312 17.5 307.859 17.5 302.75V91.75C17.5 86.6414 13.3586 82.5 8.25 82.5C4.24594 82.5 1 79.2541 1 75.25V10C1 5.02944 5.02944 1 10 1Z');
}

#card {
  overflow: hidden;
  stroke-opacity: .97;
  clip-path: path('M20 1.5H730C740.217 1.5 748.5 9.78273 748.5 20V63.5C748.5 73.7173 740.217 82 730 82H622.5C610.626 82 601 91.6259 601 103.5V423C601 434.874 610.626 444.5 622.5 444.5H730C740.217 444.5 748.5 452.783 748.5 463V730C748.5 740.217 740.217 748.5 730 748.5H324C313.783 748.5 305.5 740.217 305.5 730V324.5C305.5 312.626 295.874 303 284 303H20C9.78273 303 1.5 294.717 1.5 284.5V20C1.5 9.78273 9.78273 1.5 20 1.5Z') !important;
}

#nav-links{
  clip-path: path('M5.39746 1H346.727C349.849 1.00019 351.729 4.39504 350.18 7.01953L350.019 7.27148L325.874 42.2715C325.127 43.3538 323.896 44 322.581 44H27.8486C26.5714 44 25.3765 43.3902 24.626 42.3691L24.4814 42.1602L2.03027 7.16016C0.322581 4.49793 2.23462 1.00004 5.39746 1Z');
  overflow: hidden;
  width: 380px;
}

#pulse{
  animation: pulse 3s infinite ease-in-out;
}

#scrollable::-webkit-scrollbar-thumb {
  background: #00BBC2 !important;
  border-radius: 6px !important;
}

#scrollable::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  scrollbar-width: thin !important;
}

.quick-input-widget{
  background: #222222 !important;
  backdrop-filter: blur(20px) !important;
}

.overflow-guard .monaco-scrollable-area{
  border-radius: 30px !important;
  margin-left: 5px !important;
  padding: 10px !important;
}

.overflow-guard {
  gap: 7px !important;
}

.monaco-menu{
  background-color: rgba(44, 44, 44, 0.61) !important;
}

.cm-scroller{
  border: none !important;
  height: 100%;
  width: 100%;
  background-color: black !important;
}

input[type='range']{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #393939;
  outline: none;
  opacity: .8;
  transition: opacity .3s;
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #00BBC2;
  cursor: pointer;
  border-radius: 50%;
}

#cm-editor-simplify::-webkit-scrollbar-thumb {
  background: #00BBC2 !important;
  border-radius: 7px !important;
}

#cm-editor-simplify::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  scrollbar-width: thin !important;
}

.cm-scroller::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  scrollbar-width: thin !important;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: #00BBC2 !important;
  border-radius: 7px !important;
}

.cm-gutter{
  background: black !important;
  border: none !important;
}

.cm-gutterElement{
   color: #3ef2fa !important;
}

.cm-tooltip{
  background-color: rgba(87, 87, 87, 0.24) !important;
  backdrop-filter: blur(12px) !important;
  border-radius: 5px !important;
  border: 2px solid rgba(87, 87, 87, 1) !important;
  outline: none !important;
  box-shadow: 20px 20px 20px black !important;
  padding: 3px !important;
}

.cm-tooltip .cm-tooltip-autocomplete li {
  background: rgb(80, 80, 80) !important;
  color: white !important;
  overflow: hidden !important;
}

.cm-autocompletion-item{
  background: rgb(80, 80, 80) !important;
  color: white !important;
  overflow: hidden !important;
}

.cm-autocompletion-item .cm-active{
  background-color: rgba(59, 198, 248, 0.17) !important;
  backdrop-filter: blur(12px) !important;
  border-radius: 3px !important;
  border: 2px solid rgba(87, 87, 87, 1) !important;
  outline: none !important;
}
/*.overflow-guard .margin{*/
/*  border-radius: 10px !important;*/
/*  background: transparent !important;*/
/*  padding: 5px !important;*/
/*  margin-right: 5px !important;*/
/*}*/
